In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plot
import sklearn
import time
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("bostonhpd.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [4]:
X = df.drop("PRICE", axis=1).values   # features
y = df["PRICE"].values

In [8]:
#normalize
X = (X - X.mean(axis=0)) / X.std(axis=0)

In [9]:
X = np.c_[np.ones(X.shape[0]), X]

In [10]:
np.random.seed(42)
m = len(y)
indices = np.random.permutation(m)
train_size = int(0.8 * m)
train_idx, test_idx = indices[:train_size], indices[train_size:]

X_train, X_test = X[train_idx], X[test_idx]
y_train, y_test = y[train_idx], y[test_idx]

In [11]:
w = np.zeros(X_train.shape[1])  # includes bias weight
lr = 0.01
epochs = 1000

In [25]:
for epoch in range(epochs):
    y_pred = np.dot(X_train, w)           # predictions
    error = y_pred - y_train              # residuals
    
    # Compute gradients
    dw = (2/len(y_train)) * np.dot(X_train.T, error)
    
    # Update weights
    w -= lr * dw
    
    # Track loss every 100 epochs
    if epoch % 100 == 0:
        mse = np.mean(error**2)
        print(f"Epoch {epoch}, MSE: {mse:.4f}")

Epoch 0, MSE: 21.9397
Epoch 100, MSE: 21.9397
Epoch 200, MSE: 21.9397
Epoch 300, MSE: 21.9397
Epoch 400, MSE: 21.9397
Epoch 500, MSE: 21.9397
Epoch 600, MSE: 21.9397
Epoch 700, MSE: 21.9397
Epoch 800, MSE: 21.9397
Epoch 900, MSE: 21.9397

In [26]:
y_pred_test = np.dot(X_test, w)
mse_test = np.mean((y_test - y_pred_test)**2)
print("\nFinal Test MeanSqErr:", mse_test)

Final Test MeanSqErr: 22.266310876929246