In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("titanic.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data = data[["Survived", "Sex", "Age", "Fare"]].dropna()
data["Sex"] = data["Sex"].map({"male": 0, "female": 1})

In [5]:
data.head()

   Survived  Sex   Age     Fare
0         0    0  22.0   7.2500
1         1    1  38.0  71.2833
2         1    1  26.0   7.9250
3         1    1  35.0  53.1000
4         0    0  35.0   8.0500

In [6]:
X = data[["Sex", "Age", "Fare"]].values
y = data["Survived"].values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #train test split

In [8]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
n_samples, n_features = X_train.shape
weights = np.zeros(n_features)
bias = 0

# Hyperparameters
lr = 0.1
epochs = 2000

In [10]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def predict(X, weights, bias):
    linear_model = np.dot(X, weights) + bias
    y_pred = sigmoid(linear_model)
    return np.where(y_pred >= 0.5, 1, 0)

In [ ]:
#training
for i in range(epochs):
    # Linear model
    linear_model = np.dot(X_train, weights) + bias
    y_pred = sigmoid(linear_model)
    
    # Gradients
    dw = (1 / n_samples) * np.dot(X_train.T, (y_pred - y_train))
    db = (1 / n_samples) * np.sum(y_pred - y_train)
    
    # Update parameters
    weights -= lr * dw
    bias -= lr * db
    
    # Optional: print loss every 200 steps
    if i % 200 == 0:
        loss = - (1/n_samples) * np.sum(y_train*np.log(y_pred+1e-9) + (1-y_train)*np.log(1-y_pred+1e-9))
        print(f"Epoch {i}, Loss: {loss:.4f}")

In [11]:
preds = predict(X_test, weights, bias)
accuracy = np.mean(preds == y_test)
print("Scratch Logistic Regression Accuracy:", accuracy)

Scratch Logistic Regression Accuracy: 0.3916083916083916